<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    {{> navbar}}
    <h1>Hola {{username}}</h1>
    <p>Esta es la pagina de los {{title}}</p>
    <p>Taran</p>
    <button><a href="iniciarsesion">Iniciar sesion</a></button>
</body>

</html>