<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    {{> navbar}}
    <h1>{{name}}</h1>
    <p>Esta es la pagina de los {{name}}</p>

    <div id="users_table">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                <th scope="row">{{id}}</th>
                <td>{{name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    


</body>
</html>